.change {
    color: rgb(255, 100, 0);
    font-size: 20px;
    font-family: "Comic Sans MS";
}
.blue {
    background: rgb(0, 0, 255);
}
.pink {
    background-color: rgb(255, 0, 200);
}
.brown {
    background-color: rgb(100, 0, 0);
}
.yellow {
    background-color: rgb(200, 200, 0);
}
